{% extends 'public.html.twig' %}

{% block title %}
    Album {{ album.title }} de {{ app.request.pathInfo|split('/')[1]|capitalize }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/justifiedGallery.min.css') }}" />
{% endblock %}

{% block body %}
    <div class="container-fluid my-3">
        <div class="row d-flex align-items-end" style="{% if album.projet.filename is not empty %}
                    background-image: url({{ vich_uploader_asset(album.projet, 'imageFile') }});
                    height: 200px;
            {% else %}
                    background-color: {{ album.projet.color }}
            {% endif %}">
            <div class="col-md-12 py-4 text-white text-center">
                <div class="row">
                    <div class="col">
                        <h3>Projet : {{ album.projet.title }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ album.projet.description }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-1">
            <div class="col-md-4">
                Créé le : {{ album.createdAt|date("d/m/Y à H:m:s") }}
            </div>
            <div class="col-md-4 text-center">
                Album : {{ album.title }}
            </div>
            <div class="col-md-4 text-right">
                {% if album.updatedAt is not empty %}Mis à jour le : {{ album.updatedAt|date("d/m/Y à H:m:s") }}{% endif %}
            </div>
        </div>
        <div class="row justify-content-center" style="background-color: #DDDDDD">
            <div class="col-md-10 text-center">
                {{ album.description }}
            </div>
        </div>
        <div id="mygallery">
        {% cache 'album' ~ album.id album.updatedAt.timestamp %}
            {% for picture in pictures %}
                <a href="{{ path('public_picture', {slug: picture.slug, id: picture.id, username: app.request.pathInfo|split('/')[1]}) }}">
                    {% set tmp = vich_uploader_asset(picture, 'imageFile') | imagine_filter('rsgalerie')  %}
                    <img src="{{ tmp }}" alt="" class="">
                </a>

            {% endfor %}
        {% endcache %}
        </div>
        <a href="{{ path('public_projet', {username: app.request.pathInfo|split('/')[1]}) }}" class="btn btn-outline-secondary mt-2">Projets publics de {{ app.request.pathInfo|split('/')[1]|capitalize }}</a>
        <a href="{{ path('homepage') }}" class="btn btn-outline-primary mt-2">Galerie</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.justifiedGallery.min.js') }}"></script>
    <script>
        $("#mygallery").justifiedGallery({
            rowHeight: 200,
            margin: 2
        });
    </script>
{% endblock %}

