{% extends 'base.html.twig' %}

{% block title %}Commentaires sur mes photos{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"><h1>Commentaires sur mes photos</h1></div>
            <div class="col-md-6 text-right"><a href="{{ path('comment_mes_com') }}" class="btn btn-outline-primary mt-2">Mes commentaires</a></div>
        </div>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th>Nom de l'image</th>
                <th>Commentaires</th>
                <th>Utilisateur</th>
                <th>Notation</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.title }}</td>
                    <td>{{ comment.content }}</td>
                    <td><a href="{{ path('public_profile', {username: comment.username}) }}" class="text-white">{{ comment.username }}</a></td>
                    <td>{{ include('partials/_rating.html.twig', {rating: comment.rating}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row justify-content-center">
            <div class="pagination">
                {{ knp_pagination_render(comments) }}
            </div>
        </div>
    </div>
{% endblock %}
