{% extends 'base.html.twig' %}

{% block title %}Gestion de mes projets{% endblock %}

{% block body %}
<div class="container-fluid my-3">
    <div class="row">
        <div class="col">
            <h1>Gestion de mes projets</h1>
            <button class="tablink" onclick="openPage('Tous', this, '#919191')" id="defaultOpen">Gestion</button>
            <button class="tablink" onclick="openPage('Public', this, '#919191')">Interface publique</button>
        </div>
    </div>
    <div id="Tous" class="tabcontent">
        <table class="table table-striped bg-dark text-white">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Créé le</th>
                <th>Mis à jour le</th>
                <th>Couleur</th>
                <th>Acces</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for projet in projets %}
                <tr>
                    <td>{{ projet.title }}</td>
                    <td>{{ projet.description }}</td>
                    <td>{{ projet.createdAt ? projet.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ projet.updatedAt ? projet.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ projet.color }}</td>
                    <td>{% if projet.prive == false %}Public{% else %}Privé{% endif %}</td>
                    <td>
                        <a href="{{ path('projet_show', {slug: projet.slug}) }}" class="btn btn-outline-success"><i class="fas fa-eye"></i></a>
                        <a href="{{ path('projet_edit', {'id': projet.id}) }}" class="btn btn-outline-warning"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('album_new', {slug: projet.slug}) }}" class="btn btn-outline-primary"><i class="fas fa-pen"></i></a>
                        {{ include('projet/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row justify-content-center">
            <div class="pagination">
                {{ knp_pagination_render(projets) }}
            </div>
        </div>
        <a href="{{ path('projet_new') }}" class="btn btn-outline-primary">Ajouter un nouveau projet</a>
    </div>
    <div id="Public" class="tabcontent">
        <div class="row justify-content-center">
            {% for projet in projets %}
                <div class="col-md-3 rounded py-2 text-center mx-1 my-1" style="background-color: {{ projet.color }}; border: #565656;">
                    <h3><a href="{{ path('projet_show', {slug: projet.slug}) }}" style="color: white;">{{ projet.title }}</a></h3>
                    <p>
                        {{ projet.description | raw }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        function openPage(pageName, elmnt, color) {
            // Hide all elements with class="tabcontent" by default */
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }

            // Show the specific tab content
            document.getElementById(pageName).style.display = "block";

            // Add the specific color to the button used to open the tab content
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
{% endblock %}