{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
    <div class="container my-3">
        {{ include('album/_entete.html.twig', {title: album.projet.title, description: album.projet.description, color: album.projet.color, projet: album.projet}) }}
        <div class="row py-1 text-white" style="background-color: #777777">
            <div class="col-md-4">
                Créé le : {{ album.createdAt|date("d/m/Y à H:m:s") }}
            </div>
            <div class="col-md-4 text-center">
                <h2>{{ album.title }}</h2>
            </div>
            <div class="col-md-4 text-right">
                {% if album.updatedAt is not empty %}Mis à jour le : {{ album.updatedAt|date("d/m/Y à H:m:s") }}{% endif %}
            </div>
        </div>
        <div class="row justify-content-center text-white" style="background-color: #888888">
            <div class="col-md-10 text-center">
                {{ album.description }}
            </div>
        </div>
        <div class="row" style="background-color: #777777">
            {% for picture in album.pictures %}
                <div class="col-md-3">
                    <a href="{{ path('picture_show', {slug: picture.slug, id: picture.id}) }}">
                        {% set tmp = vich_uploader_asset(picture, 'imageFile') | imagine_filter('thumb')  %}
                        <img src="{{ tmp }}" alt="" width="100%" height="auto" class="my-1 mx-1">
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="{{ path('album_index') }}" class="btn btn-outline-secondary mt-2">Retour à la liste</a>
                <a href="{{ path('album_edit', {'slug': album.slug, id: album.id}) }}" class="btn btn-outline-warning mt-2">Editer</a>
            </div>
        </div>
    </div>
{% endblock %}
