{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-outline-success">{{ button_label }}</button>
{% if app.request.attributes.get('_route') == 'admin_album_new' %}
    <a href="{{ path('admin_album_index') }}" class="btn btn-outline-secondary">Retour à la liste</a>
{% elseif app.request.attributes.get('_route') == 'admin_album_edit' %}
    <a href="{{ path('admin_album_show', {'slug': album.slug}) }}" class="btn btn-outline-secondary">Retour à l'album</a>
{% endif %}
{{ form_end(form) }}
<div class="row flex">
    {% for picture in album.pictures %}
        <div class="col-md-3">
            <a href="{{ path('admin_picture_show', {id: picture.id}) }}">
            {% if picture.rotation is not empty %}
                <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter(picture.rotation) }}" alt="" width="100%" height="auto" class="my-3 mx-3">
            {% else %}
                <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="" width="100%" height="auto" class="my-3 mx-3">
                <a href="{{ path('picture_delete', {id: picture.id}) }}" class="btn btn-danger" data-delete
                   data-token="{{ csrf_token('delete' ~ picture.id) }}">Supprimer</a>
            {% endif %}
            </a>
        </div>
    {% endfor %}
</div>
